.box-search {
	width: 100%;
  font-size: 18px;
  
  .box-search {
    &__form {
      display: flex;
    }
  
    &__input {
      border-radius: 5px 0 0 5px;
    }
  
    &__button {
      border-radius: 0 5px 5px 0;
      width: 3em;
    }

    &__button-icon {
      font-size: 0.8em;
    }
  }
}
