@import '../../assets/variables.scss';

.product-item {
  display: flex;
  font-size: 16px;
  width: 100%;

  &__picture-container {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 180px;
    padding-right: 1em;
  }

  &__picture {
    width: auto;
    height: 100%;
    max-width: 100%;
    border-radius: 4px;
  }

  &__summary {
    width: 80%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 24px;
    &__price {
      padding-top: 1rem;
    }
    &__shipping {
      padding-left: 0.5em;
    }
    &__location {
      font-size: 0.5em;
      color: $grey;
    }
  }

  &__title {
    font-size: 18px;
    padding-top: 1rem;
  }
}
