@import 'assets/reset.scss';
@import 'assets/variables.scss';
@import '../node_modules/react-toastify/dist/ReactToastify.min.css';

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  height: 100vh;
  background: $light-grey;
}

.main {
  display: flex;
  justify-content: center;
}

.container {
  width: 80vw;
  background: $white;
  border-radius: 5px;
  margin-bottom: 2rem;
}