.summary {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;

  &__status {
    font-size: 14px;
    padding-bottom: 1em;
  }

  &__title {
    font-size: 24px;
  }

  &__price {
    font-size: 46px;
    padding: 2rem 0;
  }
}
